/* 행이 추가되어도 고정된 사이즈를 갖기 위함 */
#quoteTable {
  table-layout: fixed;
}

/* 아코디언 안의 테이블의 테이블 헤드 가운데 정렬 */
#quoteTable th {
  text-align: center;
}

/* 고정된 사이즈 */
#quoteTable th:nth-child(1),
#quoteTable td:nth-child(1) {
  width: 30%;
}

#quoteTable th:nth-child(3),
#quoteTable td:nth-child(3) {
  width: 21%;
}

#quoteTable th:nth-child(4),
#quoteTable td:nth-child(4) {
  width: 21%;
}

#quoteTable th:nth-child(5),
#quoteTable td:nth-child(5) {
  width: 20%;
}

/* 가격 오른쪽 정렬 */
#quoteTable td:nth-child(3),
#quoteTable td:nth-child(4) {
  text-align: right;
}

/* 테이블 안의 셀렉트 태그 셀 채우기 */
#quoteTable select {
  width: 100%;
}

/* 테이블 안의 인풋 태그 셀 채우기 */
#quoteTable input {
  width: 100%;
  border: none;
  padding-right: 5px;
  box-sizing: border-box;
  text-align: center;
}

/* 스크린샷일 때 아코디언 테이블 안의 가로선이 나오지 않아서 추가 */
#quoteTable {
  border-collapse: collapse;
  width: 100%;
}

#quoteTable th,
#quoteTable td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

/* Placeholder 중앙 정렬 */
.center-placeholder::placeholder {
  text-align: center;
}
